*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

:root {
    --main: #192E41;
    --text: #BBC8DE;
    --link: #0D659D;
}

body {
    background-color: rgb(7, 65, 7);
}

header {
    width: 100%;
    height: 500px;
    text-align: center;
    padding-top: 20vh;
    font-size: xx-large;
    color: white;
}



main {
    text-align: center;
}


/* .results, .quiz-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.quiz_box.activeQuiz, .results.activeResults {
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

/* .startBtn {
    font-size: 25px;
    font-weight: 400;
    background-color: tan;
    color: white;
    margin-top: 100px;
    border-radius: 5px;
} */

#StartBtn {
    font-size: 25px;
    background-color: tan;
    color: white;
    margin-top: 100px;
    border-radius: 5px;
}